@media (max-width: 600px)  {
    .container {
        width: 80vw !important;
        height: 59vh !important;
    }
    .details{
        width: 90% !important;
    }
    .humidIcon{
        width: 40px !important;
      height: 40px !important;
     
    }
    .windIcon{
        width: 40px !important;
        height: 40px !important;
       ;
    }

}
@media (min-width: 610px) and (max-width: 1040px) {
    .container {
        width: 80vw !important;
        height: 45vh !important;
    }
    .details{
        width: 90% !important;
    }
    .humidIcon{
        width: 65px !important;
      height: 65px !important;
     
    }
    .windIcon{
        width: 65px !important;
        height: 65px !important;
    }
    .windDetail{
        font-size: 24px !important;
    }
    .humidDetail{
        font-size: 24px !important;
    }
}
@media (min-width: 612px) and (max-width: 1037px){
    .container {
        width: 80vw !important;
        height: 70vh !important;
    }
}
@media(height:1368px) and (width:912px){
    .humidity{
        display: flex !important;
        flex-direction: column !important;
        justify-content: space-between !important; 
    }
    .wind{
        display: flex !important;
        flex-direction: column !important;
        justify-content: space-between !important; 
    }
    .windDetail{
        font-size: 34px !important;
    }
    .humidDetail{
        font-size: 34px !important;
    }
    .humidIcon{
        width: 75px !important;
      height: 75px !important;
     
    }
    .windIcon{
        width: 75px !important;
        height: 75px !important;
    }
}
* {
    padding: 0%;
    margin: 0%;
}

body {
    background: url("images/background.jpg");
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
   height: 100vh;
    flex-direction: column;
}

.container {
    background: linear-gradient(to right, #5ffbf1, #86a8e7);
    height: 65vh;
    width: 50vw;
    border-radius: 21px;

}
.top{
    display: flex;
  justify-content: center;
  align-items: center;
  height: 20%;
  gap: 12px;
}
#search{
    height: 34%;
    width:70%;
  border-radius: 25px;
  border: none;
  padding: 5px;
  font-size: 1.3rem;
  text-align: center;
}

#submit{
    /* height: 34%; */
    border-radius: 34px;
    display: flex;
    align-items: center;
    justify-content: center;

   
}
#submit img{
    margin: 4.9px;
}
.weather{
    display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  flex-direction: column;
}
.icon{
    width: 100px;
  height: 100px;
}
.temprature{
    font-size: 62px;
    font-weight: 700;
    color: whitesmoke;
}
.cityName{
    font-size: 46px;
    font-weight: 700;
    color: whitesmoke;
}
.invert{
    filter: invert(1);
}
.details{
    display: flex;
    width: 80%;
   justify-content: space-between;
   margin-top: 20px;
 
}
.humidity{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}
.humidIcon{
    width: 60px;
  height: 60px;
 
}
.windDetail{
    font-size: 20px !important;
    color: white;
    font-weight: 800;
}
.humidDetail{
    font-size: 20px !important;
    color: white;
    font-weight: 800;
}
.windIcon{
    width: 60px;
  height: 60px;
}
.wind{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}
.display{
    display: none;
}
.error{
    font-size: 30px;
    color: red;
    font-weight: 900;

}
